/*  Reset CSS
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
	========================================
	Grid & Flexbox
	========================================
*/
.grid-container {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-gap: 10px;
	grid-template-columns: 100px minmax(max-content, 1000px);
	grid-template-rows: 1fr;
	background-color: #ffffff;
}
@media (max-width: 500px) {
	.grid-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
}

main {
	position: relative;
	grid-column: 2 / -1;
	grid-row: 1 / -1;
	background-color: #fff;
	flex: 1;
}

.flex-menu-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	grid-column: 1;
	grid-row: 1 / -1;
	background-color: black;
	padding-top: 30px;
}
@media (max-width: 500px) {
	.flex-menu-container {
		flex-direction: row;
		justify-content: center;
		padding-top: 0px;
	}
}

.menu-4 {
	position: relative;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	margin-top: 35px;
}
@media (max-width: 500px) {
	.menu-4 {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		justify-content: flex-start;
		margin-top: 0;
	}
}

/*
	========================================
	Main Content
	========================================
*/
:root {
    --color-1: #ff2200;
	--color-2: #2604ff;
	--color-3: #049ce8;
	--color-4: #e008e8;
}

html, body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.content {
	box-sizing: border-box;
	position: absolute;
	padding: 1.2rem;
	line-height: 1.2;
	width: 100%;
	top: 0px;
	bottom: 0px;
	z-index: -1;
	font-family: verdana,Helvetica,Arial,sans-serif;;
}

.menu-1 {
	z-index: 1;
}
.menu-2, .menu-3, .menu-4 {
	overflow-y: auto;
}

p {
	padding: 0.1rem;
}

.content a {
	text-decoration: none;
}
.content a:hover {
	font-weight: 600;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	padding-bottom: 2rem;
}
h3 {
	font-size: 1.2rem;
	padding-bottom: 1rem;
}
h5 {
	text-align: center;
}

.keywords {
	font-style: italic;
}

/*
	========================================
	Menu
	========================================
*/
.menu-item {
	height: 100px;
	width: 100%;
	position: relative;
	-webkit-transition: transform 0.1s linear;
    -moz-transition: 	transform 0.1s linear;
    -o-transition: 		transform 0.1s linear;
	transition: 		transform 0.1s linear;
}
@media (max-width: 500px) {
	.menu-item {
		height: 75px;
	}
}

@media (min-width: 501px) {
	.menu-item:hover {
		-webkit-transform: 	translate(0px, 5px);
    	-moz-transform: 	translate(0px, 5px);
    	-o-transform: 		translate(0px, 5px);
		transform: 			translate(0px, 5px);
	}
}
@media (max-width: 500px) {
	.menu-item:active {
		-webkit-transform: 	translate(0px, 7px);
    	-moz-transform: 	translate(0px, 7px);
    	-o-transform: 		translate(0px, 7px);
		transform: 			translate(0px, 7px);
	}
}

.menu-item [type=radio] {
	display: none;
}

.menu-label {
	height: 80px;
	width: 100%;
	position: absolute;
	padding-top: 20px;
	top: 0px;
	cursor: pointer;
	font-family: Arial;
	font-size: 36px;
	text-align: center;
	color: white;
	z-index: 1;
}

.menu-legend {
	color: white;
	position: absolute;
	width: 100%;
	text-align: center; 
	top: 64px;
	left: 80px;
	font-family: Monaco, Arial;
	font-size: 14px;
	z-index: 0;
	-webkit-transition: left 0.1s linear;
    -moz-transition: 	left 0.1s linear;
    -o-transition: 		left 0.1s linear;
	transition: 		left 0.1s linear;
}
#menu-2 ~ .menu-legend {
	-webkit-transition-duration: 	0.15s;
	-moz-transition-duration: 		0.15s;
	-o-transition-duration: 		0.15s;
	transition-duration: 			0.15s;
}
#menu-3 ~ .menu-legend {
	-webkit-transition-duration: 	0.2s;
	-moz-transition-duration: 		0.2s;
	-o-transition-duration: 		0.2s;
	transition-duration: 			0.2s;
}
#menu-4 ~ .menu-legend {
	-webkit-transition-duration: 	0.25s;
	-moz-transition-duration: 		0.25s;
	-o-transition-duration: 		0.25s;
	transition-duration: 			0.25s; 
}
.flex-menu-container:hover .menu-legend {
	left: 0px;
}
[type=radio]:checked ~ .menu-legend {
	left: 0px;
}
@media (max-width: 500px) {
	.menu-legend {
		display: none;
	}
}


#menu-1:checked ~ .menu-label {
	color: var(--color-1);
}

#menu-2:checked ~ .menu-label,
a.menu-link-2 {
	color: var(--color-2);
}


#menu-3:checked ~ .menu-label,
a.menu-link-3 {
	color: var(--color-3);
}

#menu-4:checked ~ .menu-label,
a.menu-link-4 {
	color: var(--color-4);
}
@media (min-width: 501px) {
	.flex-menu-container:hover #menu-1 ~ .menu-label {
		color: var(--color-1);
	}
	.flex-menu-container:hover #menu-2 ~ .menu-label {
		color: var(--color-2);
	}
	.flex-menu-container:hover #menu-3 ~ .menu-label {
		color: var(--color-3);
	}
	.flex-menu-container:hover #menu-4 ~ .menu-label {
		color: var(--color-4);
	}
}

/* 
	========================================
	Collapsible
	========================================
 */
input.collapsible-toggle  {
	display: none;
}
.collapsible-toggle-label {
	display: block;
	border-radius: 0.4rem;
	font-weight: bold;
	padding: 0.5rem 0.5rem 0.5rem 0.2rem;
	cursor: pointer;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: 	all 0.25s ease-in-out;
	-o-transition: 		all 0.25s ease-in-out;
	transition: 		all 0.25s ease-in-out;
	border: 1px solid;
}
.collapsible-toggle-label:hover {
	color: white;
}
.collapsible-toggle-label::before {
	content: '\25BA';
	display: inline-block;
	text-align: left;
	margin-right: 1rem;
	-webkit-transition: transform .2s ease-out;
	-moz-transition: 	transform .2s ease-out;
	-o-transition: 		transform .2s ease-out;
	transition: 		transform .2s ease-out;
}
.collapsible-content {
	margin-left: 0.6rem;
	border-left: 2px dashed;
	border-right: 2px dashed;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height 0.25s ease-in-out;
	-moz-transition: 	max-height 0.25s ease-in-out;
	-o-transition: 		max-height 0.25s ease-in-out;
	transition: 		max-height 0.25s ease-in-out;
}
.collapsible-content-inner {
	padding: 0.5rem 1rem;
}
.collapsible-toggle:checked + .collapsible-toggle-label + .collapsible-content {
	max-height: 100%;
}
.collapsible-toggle:checked + .collapsible-toggle-label::before {
	transform: rotate(90deg);
}
.collapsible-toggle:checked + .collapsible-toggle-label {
	border-bottom-right-radius: 0;
}

.menu-2 .collapsible-toggle-label {
	border-color: var(--color-2);
}
.menu-2 .collapsible-content {
	border-color: var(--color-2);
	background-color: rgba( 38, 4, 255, .1);
}
.menu-2 .collapsible-toggle-label:hover {
	background-color: var(--color-2);
}
.menu-2 .collapsible-toggle:checked + .collapsible-toggle-label + .collapsible-content:last-child {
	border-bottom: 2px dashed var(--color-2);
}

.menu-3 .collapsible-toggle-label {
	border-color: var(--color-3);
}
.menu-3 .collapsible-content {
	border-color: var(--color-3);
	background-color: rgba( 4, 156, 232, .1);
}
.menu-3 .collapsible-toggle-label:hover {
	background-color: var(--color-3);
}
.menu-3 .collapsible-toggle:checked + .collapsible-toggle-label + .collapsible-content:last-child {
	border-bottom: 2px dashed var(--color-3);
}

.collapsible-content p {
	padding: 0.5rem;
}
.collapsible-content ul {
	list-style-type: disc;
	list-style-position: inside;
}
.collapsible-content li {
	padding-left: 0.7rem;
	padding-bottom: 0rem;
}
.collapsible-content a {
	color: var(--color-2);
}

/* 
	========================================
	Contact
	========================================
 */
 .contact-item {
	font-size: 112px;
	text-align: center;
	line-height: 200px;
	height: 200px;
	width: 200px;
	border-radius: 8px;
	color: white;
	background-color: #d7d7d7;
	/* transition-property: color, background-color; */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: 	all 0.5s ease-in-out;
	-o-transition: 		all 0.5s ease-in-out;
	transition: 		all 0.5s ease-in-out;
}
@media (max-width: 500px) {
	.contact-item {
		font-size: 82px;
		margin: 10px;
		line-height: normal;
		height: 100px;
		background-color: white;
	}
}

.item-1 {
	align-self: start;
	justify-self: center;
}
.item-1:hover, .item-1:focus, .item-1:active {
	background-color: white;
	color: #db3236;
}
@media (max-width: 500px) {
	.item-1 {
		color: #db3236;
		align-self: center;
	}
}


.item-2 {
	align-self: start;
	justify-self: start;
}
.item-2:hover, .item-2:focus, .item-2:active {
	background-color: white;
	color: black;
}
@media (max-width: 500px) {
	.item-2 {
		color: black;
		align-self: center;
	}
}

.item-3 {
	align-self: start;
	justify-self: center;
}
.item-3:hover, .item-3:focus, .item-3:active {
	background-color: white;
	color: #0077B5;
}
@media (max-width: 500px) {
	.item-3 {
		color: #0077B5;
		align-self: center;
	}
}

.item-4 {
	align-self: start;
	justify-self: start;
}
.item-4:hover, .item-4:focus, .item-4:active {
	background-color: white;
	color: #00AFF0;
}
@media (max-width: 500px) {
	.item-4 {
		align-self: center;
		color: #00AFF0;
	}
}
