/*  Reset CSS
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
	Grid & Flexbox
*/
.grid-container {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-gap: 10px;
	grid-template-columns: 100px minmax(max-content, 1000px);
	grid-template-rows: 1fr;
	background-color: #ffffff;
	/*padding: 10px;*/
}

/* header {
	grid-column: span 5;
	background-color: #c78787;
} */
aside {
	grid-column: 1;
	grid-row: 1 / -1;
	background-color: black;
	padding-top: 30px;
}
main {
	position: relative;
	grid-column: 2 / -1;
	grid-row: 1 / -1;
	background-color: #fff;
}
/* footer {
	grid-column: span 5;
	background-color: #c78787;
} */

.flex-menu-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.menu-4 {
	position: relative;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

/*
	Main Content
*/

.content {
	box-sizing: border-box;
	position: absolute;
	padding: 20px;
	/* border-style: solid none none solid;
	border-image: linear-gradient(to bottom right, #000, #fff 50%) 10 ;
	border-width: 2px; */
	width: 100%;
	top: 0px;
	bottom: 0px;
	z-index: -1;
	font-family: verdana,Helvetica,Arial,sans-serif;;
	/* font-family: Lato,Helvetica,Arial,sans-serif; */
}

.menu-1 {
	z-index: 1;
}

.content a {
	text-decoration: none;
}
.content a:hover {
	font-weight: 600;
}

/* h1, h2, h3, h4, h5, h6 {
	font-family: Lato,MontSerrat,Tahoma,Arial,sans-serif;
}  */

h1 {
	font-size: 40px;
	text-align: center;
	padding-bottom: 30px;
}
h5 {
	text-align: center;
}
/* h1 {
	font-family: Arial;
	font-size: 40px;
	width: 50px;
	height: 50px;
	top: -25px;
	left: -25px;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #000;
	border-radius: 50%;
	position: absolute;
	background: #fff;
}
.menu-1 > h1 {
	color: red;
	font-size: 46px;
}
.menu-2 > h1 {
	color: purple;
}
.menu-3 > h1 {
	color: blue;
}
.menu-4 > h1 {
	color: green;
} */


/*
	Menu
*/
.menu-item {
	/* border: 1px solid #fff; */
	height: 100px;
	position: relative;
	/*overflow: hidden;  /*not sure if necessary */
}

/* TODO add browser prefixes -webkit- -moz- -o- */
.menu-item:hover {
	transform: translate(0px, 5px);
}

.menu-item [type=radio] {
	display: none;
}

.menu-label {
	/*border: 2px solid blue; */
	height: 80px;
	width: 100%;
	position: absolute;
	padding-top: 20px;
	top: 0px;
	cursor: pointer;
	font-family: Arial;
	font-size: 36px;
	text-align: center;
	color: white;
	z-index: 1;
}

/* TODO add browser prefixes -webkit- -moz- -o- */
.menu-legend {
	color: white;
	position: absolute;
	width: 100%;
	text-align: center; 
	top: 64px;
	left: 80px;
	font-family: Monaco, Arial;
	font-size: 14px;
	z-index: 0;
	transition-property: left;
	transition-duration: 0.1s;
    transition-timing-function: linear;
}
#menu-2 ~ .menu-legend {
	transition-duration: 0.15s; 
}
#menu-3 ~ .menu-legend {
	transition-duration: 0.2s; 
}
#menu-4 ~ .menu-legend {
	transition-duration: 0.25s; 
}
aside:hover .menu-legend {
	left: 0px;
}
[type=radio]:checked ~ .menu-legend {
	left: 0px;
}

/* TODO when checked, slightly darker color */
/* TODO final color choice */
#menu-1:checked ~ .menu-label,
aside:hover #menu-1 ~ .menu-label {
	color: #ff2200;
}

/* a.menu-link-2 {
	color: #D000E8;
	font-size: 30px;
} */

#menu-2:checked ~ .menu-label,
aside:hover #menu-2 ~ .menu-label,
a.menu-link-2 {
	color: #E008E8;
}


#menu-3:checked ~ .menu-label,
aside:hover #menu-3 ~ .menu-label,
a.menu-link-3 {
	color: #2604FF;
}

#menu-4:checked ~ .menu-label,
aside:hover #menu-4 ~ .menu-label,
a.menu-link-4 {
	color: #049CE8;
}

/* 
	Contact
 */
/* TODO browser prefixes on transition */
 .contact-item {
	font-size: 112px;
	text-align: center;
	line-height: 200px;
	height: 200px;
	width: 200px;
	border-radius: 8px;
	color: white;
	background-color: #d7d7d7;
	transition-property: color, background-color;
	transition-duration: 0.3s;
}
.item-1 {
	align-self: center;
	justify-self: center;
}
.item-1:hover, .item-1:focus, .item-1:active {
	background-color: white;
	color: #db3236;
}

.item-2 {
	align-self: center;
	justify-self: start;
}
.item-2:hover, .item-2:focus, .item-2:active {
	background-color: white;
	color: black;
}

.item-3 {
	align-self: start;
	justify-self: center;
}
.item-3:hover, .item-3:focus, .item-3:active {
	background-color: white;
	color: #0077B5;
}

.item-4 {
	align-self: start;
	justify-self: start;
}
.item-4:hover, .item-4:focus, .item-4:active {
	background-color: white;
	color: #00AFF0;
}


 /* Fade */
.hvr-fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
	background-color: #2098D1;
	color: white;
  }

/* Rectangle Out */
.hvr-rectangle-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	background: #e1e1e1;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .hvr-rectangle-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #2098D1;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
	color: white;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
  }

