/*  Reset CSS
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
	Grid & Flexbox
*/
.grid-container {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-gap: 10px;
    grid-template-columns: 100px repeat(4, 1fr);
	grid-template-rows: 0px 1fr 50px;
	background-color: #ffffff;
	/*padding: 10px;*/
}

header {
	grid-column: span 5;
	background-color: #c78787;
}
aside {
	grid-column: 1;
	background-color: black;
	padding-top: 30px;
}
main {
	position: relative;
	grid-column: span 4;
	background-color: #c78787;
}
footer {
	grid-column: span 5;
	background-color: #c78787;
}

.flex-menu-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/*
	Main Content
*/

.content {
	position: absolute;
	padding: 20px;
	/*transform-style: preserve-3d;*/
	/*background-color: white;*/
	border: 1px solid #ccc;
	top: 0;
	bottom: 0;
	/* width: 100%; */
	z-index: -1;
	margin-top: 0px;
	font-family: Monaco, Arial;
}

.menu-1 {
	z-index: 1;
}

/*
	Menu
*/
.menu-item {
	/* border: 1px solid #fff; */
	height: 100px;
	position: relative;
	/*overflow: hidden;  /*not sure if necessary */
}

/* TODO add browser prefixes -webkit- -moz- -o- */
.menu-item:hover {
	transform: translate(0px, 5px);
}

.menu-item [type=radio] {
	display: none;
}

.menu-label {
	/*border: 2px solid blue; */
	height: 80px;
	width: 100%;
	position: absolute;
	padding-top: 20px;
	top: 0px;
	cursor: pointer;
	font-family: Arial;
	font-size: 40px;
	text-align: center;
	/* justify-content: center; */
	color: white;
	z-index: 1;
}

/* TODO add browser prefixes -webkit- -moz- -o- */
.menu-legend {
	color: white;
	position: absolute;
	width: 100%;
	text-align: center; 
	top: 64px;
	left: 80px;
	font-family: Monaco, Arial;
	font-size: 14px;
	z-index: 0;
	transition-property: left;
	transition-duration: 0.1s;
    transition-timing-function: linear;
}
#menu-2 ~ .menu-legend {
	transition-duration: 0.15s; 
}
#menu-3 ~ .menu-legend {
	transition-duration: 0.2s; 
}
#menu-4 ~ .menu-legend {
	transition-duration: 0.25s; 
}
aside:hover .menu-legend {
	left: 0px;
}
[type=radio]:checked ~ .menu-legend {
	left: 0px;
}

/* TODO when checked, slightly darker color */
/* TODO final color choice */
#menu-1:checked ~ .menu-label,
aside:hover #menu-1 ~ .menu-label {
	color: red;
}


#menu-2:checked ~ .menu-label,
aside:hover #menu-2 ~ .menu-label {
	color: purple;
}


#menu-3:checked ~ .menu-label,
aside:hover #menu-3 ~ .menu-label {
	color: blue;
}

#menu-4:checked ~ .menu-label,
aside:hover #menu-4 ~ .menu-label {
	color: green;
}

